$main-background-color: rgb(237, 248, 252);

// main scss colors
$active-links-color: rgb(250, 203, 102);
$desktop-links-color: rgba(67, 35, 122, 0.6);
$error-bg-color: rgb(251, 177, 60);
$error-btn-color: rgb(209, 144, 39);
$done-bg-color: rgb(78, 184, 98);
$done-btn-color: rgb(8, 144, 0);
$valid-color: #02f102;
$invalid-color: red;
$btn-disabled: rgb(228, 228, 228);
$history-card-bg-color: rgb(198, 168, 250);
$history-card-hover-color: rgb(146, 84, 253);
// login, logout icons color
$done-icon: green;
// width
$width: 100%;
