<div class="wrapper">
  <mat-card class="card">
    <form class="login-form" [formGroup]="form" (ngSubmit)="onSubmit()">
      <h1 class="center">Log in</h1>
      <!-- Email Input -->
      <mat-form-field class="full-width">
        <mat-label>Email</mat-label>
        <input
          matInput
          type="email"
          placeholder="pat@example.com"
          formControlName="email"
          (keyup)="mailCheck($event)"
        />
        <span *ngIf="form.get('email').valid" class="material-icons done-icon">
          done
        </span>
        <span
          *ngIf="
            (form.get('email').invalid &&
              form.get('email').touched &&
              form.get('email').errors['required']) ||
            (form.get('email').invalid &&
              form.get('email').touched &&
              form.get('email').errors['email']) ||
            errEmail != ''
          "
          class="material-icons error-icon"
        >
          error
        </span>
        <mat-error
          *ngIf="
            form.get('email').invalid &&
            form.get('email').touched &&
            form.get('email').errors['email']
          "
        >
          Please enter a valid email address
        </mat-error>
        <mat-error
          *ngIf="
            form.get('email').invalid &&
            form.get('email').touched &&
            form.get('email').errors['required']
          "
        >
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <!-- Password Input -->
      <mat-form-field class="full-width">
        <mat-label>Password</mat-label>
        <input
          matInput
          type="password"
          formControlName="password"
          (keyup)="passCheck($event)"
        />
        <span
          *ngIf="form.get('password').valid"
          class="material-icons done-icon"
        >
          done
        </span>
        <span
          *ngIf="
            (form.get('password').invalid &&
              form.get('password').touched &&
              form.get('password').errors['required']) ||
            errPass != ''
          "
          class="material-icons error-icon"
        >
          error
        </span>
        <mat-error
          *ngIf="
            form.get('password').invalid &&
            form.get('password').touched &&
            form.get('password').errors['required']
          "
        >
          Password is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <!-- <div class="btn"> -->
      <button
        mat-raised-button
        type="submit"
        class="btn"
        [disabled]="form.invalid || form.disabled"
      >
        Log in
      </button>
      <!-- </div> -->
    </form>
  </mat-card>

  <div class="login-for-test center">
    <h4>Test My App</h4>
    <p>
      mail:<span> test@mail.com</span><br />
      pass:<span> 12345678</span>
    </p>
  </div>
</div>
