<!-- position form -->
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form">
    <!-- name -->
    <div class="name-quantity-container">
      <mat-form-field appearance="legacy" class="name-input">
        <mat-label>Name of position</mat-label>
        <input
          matInput
          maxlength="18"
          placeholder="name"
          formControlName="name"
        />
        <mat-icon
          matSuffix
          class="input-icon"
          [ngClass]="{
            invalid: form.get('name').invalid && form.get('name').touched,
            valid: form.get('name').valid
          }"
          >sentiment_very_satisfied</mat-icon
        >
        <mat-error *ngIf="form.get('name').invalid && form.get('name').touched"
          >Name requared.</mat-error
        >
      </mat-form-field>
      <!-- end name -->

      <!-- quantity -->
      <mat-form-field class="quantity-input" appearance="legacy">
        <mat-label>Quantity</mat-label>
        <input
          matInput
          placeholder="quantity"
          type="number"
          min="0"
          max="12"
          formControlName="quantity"
        />
        <mat-icon
          matSuffix
          [ngClass]="{
            invalid:
              form.get('quantity').invalid && form.get('quantity').touched,
            valid: form.get('quantity').valid
          }"
          >sentiment_very_satisfied</mat-icon
        >
        <mat-error
          *ngIf="form.get('quantity').invalid && form.get('quantity').touched"
          >Price requared.</mat-error
        >
      </mat-form-field>
      <!-- end quantity -->
    </div>

    <div class="price-option-container">
      <mat-form-field class="price" appearance="legacy">
        <mat-label>Price</mat-label>
        <input
          matInput
          placeholder="price"
          type="number"
          min="0"
          max="12"
          formControlName="price"
        />
        <mat-icon
          matSuffix
          [ngClass]="{
            invalid: form.get('price').invalid && form.get('price').touched,
            valid: form.get('price').valid
          }"
          >sentiment_very_satisfied</mat-icon
        >
        <mat-error
          *ngIf="form.get('price').invalid && form.get('price').touched"
          >Price requared.</mat-error
        >
      </mat-form-field>
      <!-- currency -->

      <mat-form-field class="currency">
        <mat-label>Currency</mat-label>
        <mat-select name="currency" formControlName="currency">
          <mat-option
            *ngFor="let currency of shoppingCurrency"
            [value]="currency.value"
            [disabled]="true"
          >
            {{ currency.viewValue }}
          </mat-option>
        </mat-select>
        <mat-error
          *ngIf="form.get('currency').invalid && form.get('currency').touched"
          >Choose an currency</mat-error
        >
      </mat-form-field>
      <!-- end currency -->
      <mat-form-field class="option">
        <mat-label>Category</mat-label>
        <mat-select name="category" formControlName="category">
          <mat-option
            *ngFor="let category of shoppingCategory"
            [value]="category.value"
          >
            {{ category.viewValue }}
          </mat-option>
        </mat-select>
        <mat-error
          *ngIf="form.get('category').invalid && form.get('category').touched"
          >Choose an category</mat-error
        >
      </mat-form-field>
    </div>
  </div>
  <div class="btn-container">
    <button
      type="submit"
      color="primary"
      class="btn-add-position btn-cancel"
      mat-raised-button
      mat-dialog-close
      [disabled]="form.disabled"
    >
      Cancel
    </button>
    <button
      type="submit"
      color="primary"
      class="btn-add-position"
      mat-raised-button
      [disabled]="form.disabled || form.invalid"
    >
      Update
      <span class="material-icons">
        add_shopping_cart
      </span>
    </button>
  </div>
</form>
